@model WebMVC_autoDB.ViewModel.FilmCategoryViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCategory.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCategory.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCategory.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCategory.Description)
        </dd>
    </dl>
</div>
<div>
    <ul>
        @foreach (Film film in Model.Films) {
            <li>Tytuł: @film.Title Czas trwania: @film.Duration kategoria: @Model.MyCategory.Name</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MyCategory.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
